<div id="requestdiv{{requestdata.Notification_Id}}">
 <p class="pull-right"><small>5 days ago</small></p>
        <div class="media-body">
      <h4 class="media-heading bldr">{{requestdata.Name | uppercase}} <span class="smallfont">would like to get </span><span class="label label-danger">{{requestdata.Bloodgroup | uppercase}}</span> <span class="smallfont">on {{requestdata.Neededon | date : fullDate}}</span> <span class="smallfont">At</span></h4>
      <h5>{{requestdata.Location_Address}}, {{requestdata.District}}</h5>
      <h5>{{requestdata.Remarks}}</h5>      
      <p><button type="button" class="btn btn-primary btn-xs" ng-click="AcceptRequest(requestdata);">Accept</button> <button type="button" class="btn btn-default btn-xs" ng-click="IgnoreRequest(requestdata);">Ignore</button></p>
    </div>
</div>    
    