<section  class="main2">
<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse">         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>            
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                             
                        <li class="divider"></li>                     
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                    
						<li class="divider"></li>
						<li>
							<a href="#/privacy" >
								<i class="fa fa-user-secret fa-fw"></i>Privacy Policy
							</a>
                        </li>						
                        <li class="divider"></li>
						<li>
							<a href="#/deleteme" >
								<i class="fa fa-ban fa-fw"></i>Delete Me
							</a>
                        </li>                                              
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <div class="panel panel-primary" >
                <div class="panel-heading"><img src="img/hed.png" class="bldbnk">Delete Account</div>
                <div class="panel-body">
                    <form role="form" name="PasswordForm" > 
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="name"> This will remove you from the system forever. You will need create a new account to use the app. If you are deleting since you will not be able to donate blood in near future , you can update your user profile by unchecking the  ' Please tick if available to donate blood'. This will remove all the calls and messages you get for blood.We would like you to remain in the network even if you can not donate blood!</label>
								 </div>
                            </div>                           
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="Deleteme();">Delete me</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="Letremain();">Let me remain</button>
                            </div>							
                        </div>                                                                        
                    </form>
                </div>            
            </div>
        </div>
    </div>
</div>
</section>