<section  class="main2">
<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse" >         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>            
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li class="divider"></li>
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                             
                        <li class="divider"></li>                     
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                   
						<li class="divider"></li>
						<li>
							<a href="#/privacy" >
								<i class="fa fa-user-secret fa-fw"></i>Privacy Policy
							</a>
                        </li>                                             
                        <li class="divider"></li>
						<li>
							<a href="#/deleteme" >
								<i class="fa fa-ban fa-fw"></i>Delete Me
							</a>
                        </li>                                              
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <div class="panel panel-primary" >
                <div class="panel-heading"><img src="img/hed.png" class="bldbnk">How it works  </div>
                <div class="panel-body">						
                        <div class="row">
                            <div class="col-xs-12">								
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                  <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                      <h4 class="panel-title">
                                        <a show-tab role="button" data-toggle="collapse" data-parent="#accordion" href="#download" aria-expanded="true" aria-controls="download">
                                          Download
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="download" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">
                                            <ul class="list-inline">
                                              <li>The only way to access mikudu blood donor network is to download the app from Google Play Store (

We will introduce iOS version later). Search for mikudu in Play Store and download it. It is free!</li>
                                            </ul>                                                                              
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                      <h4 class="panel-title">
                                        <a show-tab class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#registration" aria-expanded="false" aria-controls="registration">
                                          Registration
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="registration" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="panel-body">
<p>
											You need to register to be donor or to search for donors. Please create an account using your email id

and complete the user profile. You can see this section right under the <img src="img/set.png" class="small-image"/> icon. You can choose how you

want to be contacted – there are three options, email, text message and call. Please uncheck the

option(s) you do not want to be contacted on.
											</p>                                                                          
                                      </div>
                                    </div>
                                  </div>
									<div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                          <h4 class="panel-title">
                                            <a show-tab class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#searchblood" aria-expanded="false" aria-controls="searchblood">
                                              Search for blood banks
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="searchblood" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                          <div class="panel-body">
												<p>Tap on <img src="img/nbld.png" class="small-image"/> in your home screen and search for blood banks in your district by choosing the state and district where you need blood.</p>
												You can see contact details of most blood banks- please contact them and enquire if they can meet your requirements. Most of them will need you to arrange a blood donor in place of blood they give you.</p>
												</p> Please tap on <img src="img/dicon.png" class="small-image"/> to find a blood donor.</p>
												<p>We have the location information of some of the blood banks- click on <img src="img/mp.png" class="small-image"/>  to know the location. Please confirm the location with the blood bank before you visit them.</p>
                                                                            
                                          </div>
                                        </div>
                                    </div> 								  
                                  <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                      <h4 class="panel-title">
                                        <a show-tab class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#needblood" aria-expanded="false" aria-controls="needblood">
                                          Need blood?
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="needblood" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                      <div class="panel-body">
										<p>Tap on <img src="img/dicon.png" class="small-image"/> in home screen to search for blood donors. Fill in the required blood group, state and district information to search for nearby donors. You have four options to proceed once you enter the details- Call, SMS, email or share through social media (Whatsapp, Facebook etc)</p>
                                        <ol>
                                            <li style="list-style: none;">
                                                <h4 class="list-group-item-heading">Call</h4>
                                                <ol>
                                                    <li class="listpadding">Please tap on <img src="img/ph.png" class="small-image"/> icon and app will search for all registered donors who can be called in the district.</li>
                                                    <li class="listpadding">A maximum of 20 donor names will be displayed, tap on <img src="img/ph.png" class="small-image"/> icon to the right of the names to call donors. You will be taken to your phone’s dial pad to make the call. You can contact donors one by one until you get sufficient quantity of blood.</li>                                                    
                                                    <li class="listpadding">Please remember donor is helping you to get blood. Please provide all the details to help donor, including blood group required, purpose, time and place of the blood donation etc. Please confirm the details with blood bank before you finalise the blood donation plan.</li>
                                                    <li class="listpadding">This is a voluntary service and donor should not be demanding money, It is against law – please don’t offer money/gift and report to us at <a href="mailto:help@mikudu.com">help@mikudu.com</a> immediately if the registered donor demands money or any other incentives.</li>
                                                    <li class="listpadding">It is possible you would encounter ‘No results found’ message after search.  This happens due to variety of reasons including when no one has registered to be a donor in the district or those who have registered may have already donated recently. Search for nearby districts for blood donors in such cases.</li>
                                                </ol>
                                            </li>
                                            <li style="list-style: none;">
                                                <h4 class="list-group-item-heading">SMS/email</h4>
                                                <ol>
                                                    <li class="listpadding">Please tap on <img src="img/tk.png" class="small-image"/> or <img src="img/ml.png" class="small-image"/> to choose SMs or email.Enter additional details required in the app (Please enter the exact location e.g. Blood bank /hospital address etc and time for blood donation) -  and search by tapping ‘Insert image’. Your search results will include only those who have agreed to be contacted by SMS and/or email</li>
                                                    <li class="listpadding">You can change the contact number in the relevant section if there is a more suitable number e.g. that of bystander in the hospital etc. You can change the name too in the relevant section if someone else is the point of contact.</li>
                                                    <li class="listpadding">SMS/ email will use your mobile number/ registered email id and you can see a copy of your request in mobile phone/ email.</li>
                                                    <li class="listpadding">Donor can accept or reject your request. You will get an acceptance message in email if donor has accepted your request (message will be visible in notification section of the app too).  Please contact him and schedule the next steps. Donor can also choose to ignore the request and in that case you will not receive any messages.</li>
                                                    <li class="listpadding">There are times you receive more acceptance than required!  Please tap on ‘ Thanks we got enough’ in the in app-notification and let donor know that you have got enough blood already. Please do this as soon as possible as a willing donor can be helpful to someone else who needs blood urgently.</li>                                                    
                                                </ol>
                                            </li> 
                                            <li style="list-style: none;">
                                                <h4 class="list-group-item-heading">Share</h4>
                                                <ol>
                                                    <li class="listpadding">We will strongly suggest you share your blood request with wider audience so that it reaches more people.  You can do this by tapping <img src="img/sre.png" class="small-image"/> icon and then choosing the social media ( e.g. Facebook, WhatsApp etc) you would like to use to share the request.</li>                                                    
                                                </ol>
                                            </li>                                                                                       
                                        </ol> 
                                      </div>
                                    </div>
                                  </div>                                                                    
                                </div>                               
                            </div>
                        </div>
						<div class="row">
							<div class="col-xs-12">
								<p>And here are some questions and answers to them we keep getting. Send us your questions on <a href="mailto:help@mikudu.com">help@mikudu.com</a> and we will add frequent ones here.</>
								<div class="panel-group" id="accordionnext" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#whocan" aria-expanded="false" aria-controls="download">
													Who can donate blood?
												</a>
											  </h4>											
										</div>
										<div id="whocan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>Any healthy male or female between 18-65 years with a minimum weight of 45Kg and Hemoglobin level of 12.5 g/dL can donate blood. The donor should not have history of any severe illness or infection, Diabetes, hypertension, intake of medication or recent immunization. Those who have undergone any surgical procedure, needle usage, blood transfusion, Rabies treatment etc will have to wait for a year. Women cannot donate blood during Pregnancy, lactation or in menstrual cycles. </li>
												</ul>                                                                              
										  </div>
                                    </div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#paydonor" aria-expanded="true" aria-controls="paydonor">												  
													Do I have to pay donor or to contact donor?
												</a>
											  </h4>											
										</div>
										<div id="paydonor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>No.  This is a free app and taking money or other incentive to donate blood is illegal. Your blood bank/ hospital may charge you for processing blood as decided by authorities.
													</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#safety" aria-expanded="true" aria-controls="safety">												  
													I understand my contact information may be shared with those needing blood but Is my

						personal information stored safely?
												</a>
											  </h4>											
										</div>
										<div id="safety" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>Your personal information is stored in secure servers hosted by reputed organizations.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#secure" aria-expanded="true" aria-controls="secure">												  
													Is the app secure?
												</a>
											  </h4>											
										</div>
										<div id="secure" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>We have taken all possible precautions to make the app secure and will continue to strengthen it as technology advances.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#mandatory" aria-expanded="true" aria-controls="mandatory">												  
													Is registration mandatory for searching donors/blood banks?
												</a>
											  </h4>											
										</div>
										<div id="mandatory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>It is mandatory to register to search for donors/blood banks.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#smarphone" aria-expanded="true" aria-controls="smarphone">												  
													I don’t have smart phone- How can I access mikudu then?
												</a>
											  </h4>											
										</div>
										<div id="smarphone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>You need a smart phone with Android operating system to access mikudu.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#connectivity" aria-expanded="true" aria-controls="connectivity">
													I don’t have internet connectivity!
												</a>
											  </h4>											
										</div>
										<div id="connectivity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>You will need a mobile phone with data connectivity to access mikudu</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>									
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#forfriend" aria-expanded="true" aria-controls="forfriend">
													I need blood for a friend – what should I do?
												</a>
											  </h4>											
										</div>
										<div id="forfriend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>You can register yourself in the app and provide your friend ( or of his bystander) as contact when you place a request. Please remember to provide his details in the app</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#forsurgery" aria-expanded="true" aria-controls="forsurgery">
													I need blood for a surgery after a month, what should I do?

												</a>
											  </h4>											
										</div>
										<div id="forsurgery" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>It is better to place a request as early as possible. Please do remind the willing donor closer to surgery so that he does not forget!</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#likehelp" aria-expanded="true" aria-controls="likehelp">
													I like what you are doing. How can I help you?
												</a>
											  </h4>											
										</div>
										<div id="likehelp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>Thanks. The best thing you can do is to encourage your friends, family and colleagues to join the network and donate blood regularly (Once in three months for men and once in four months for women)</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#whynumber" aria-expanded="true" aria-controls="whynumber">
													Why am I not able to see phone numbers of all donors? Why are search results restricted to 20?
												</a>
											  </h4>											
										</div>
										<div id="whynumber" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>
													You can see the phone number of  donor only when you click on the call symbol <img src="img/ph.png" class="small-image"/>. This is to prevent misuse of phone numbers.
												  </li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#sideffects" aria-expanded="true" aria-controls="sideffects">
													Are there any side effects for blood donation?
												</a>
											  </h4>											
										</div>
										<div id="sideffects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>None- donating blood regularly rejuvenates you. Please check eligibility conditions before you donate blood though.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#eatbefore" aria-expanded="true" aria-controls="eatbefore">
													Can I eat before blood donation?

												</a>
											  </h4>											
										</div>
										<div id="eatbefore" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>Yes. In fact you must have a nice meal before donating blood and get good sleep during previous night.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#precautions" aria-expanded="true" aria-controls="precautions">
													Should I take any precautions after blood donation?
												</a>
											  </h4>											
										</div>
										<div id="precautions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>Yes.  Please take plenty of fluids like juices, water etc after donation and avoid tiring work on the day of blood donation.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#notadonor" aria-expanded="true" aria-controls="notadonor">
													I have registered on the app but don’t want to be a donor any more. What should I do?
												</a>
											  </h4>											
										</div>
										<div id="notadonor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>You can update your user profile by unchecking the ‘ Please tick if available to donate blood’</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#missingbanks" aria-expanded="true" aria-controls="missingbanks">
													Why are some blood banks missing?
												</a>
											  </h4>											
										</div>
										<div id="missingbanks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>We are refining the information we have about blood banks. This involve verifying and correcting the available information.  Only licensed blood banks will be listed here – please let us know on <a href="mailto:help@mikudu.com">help@mikudu.com</a> if you want any information to be added or modified.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#wronginfo" aria-expanded="true" aria-controls="wronginfo">
													Some of the blood bank information is wrong!
												</a>
											  </h4>											
										</div>
										<div id="wronginfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>Mail us on <a href="mailto:help@mikudu.com">help@mikudu.com</a>. We will correct as soon as possible.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#nodonnors" aria-expanded="true" aria-controls="nodonnors">
													Why am I not able to find any donors in some districts?
												</a>
											  </h4>											
										</div>
										<div id="nodonnors" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li>It means there aren’t enough registered donors in these districts. Please search in nearby districts and motivate your friends, family and colleagues to join the network.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="faqOne">
											  <h4 class="panel-title">
												<a show-tab role="button" data-toggle="collapse" data-parent="#accordionnext" href="#howcontact" aria-expanded="true" aria-controls="howcontact">
													How can I contact you?
												</a>
											  </h4>											
										</div>
										<div id="howcontact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
												<ul class="list-inline">
												  <li> Mail us on <a href="mailto:help@mikudu.com">help@mikudu.com</a>.</li>
												</ul>                                                                              
										  </div>
										</div>										
									</div>									
								</div>
							</div>
						</div>						
                </div>            
            </div>
        </div>
    </div>
</div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $('.collapse').on('show.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
    });
    $('.collapse').on('hide.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
    });
});
</script>