<div class="navbar navbar-default  ng-scope" role="navigation">
    <div class="container"> 
        <div class="navbar-header">

            <a href="javascript:void(0)" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>        
    </div>
</div>
<div class="container" >
<div id="loginbox" style="display: block;" class="col-md-4 col-md-offset-4">                    
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Forgot Password</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" name="loginForm" class="form-horizontal" role="form">
                                    
                            <div class="input-group" style="margin-bottom: 25px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="email" class="form-control" name="email" value="" placeholder="Email" ng-model="forgotpassword.Email" required focus>                                                                               
                            </div>
                            <span ng-show="loginForm.email.$error.email" class="help-inline">Email is not valid</span> 
                            <div class="checkbox">
			    	            <a href="#/login" class="pull-right">Login</a>
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls">
                                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset" ng-click="sendrequest(forgotpassword)" data-ng-disabled="loginForm.$invalid || !showbutton">
                                  

                                </div>
                            </div>

    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        </div>        