<section  class="main2">
<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse" data-ng-show="showmenu">         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>            
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                             
                        <li class="divider"></li>                     
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                                             
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <div class="panel panel-primary" >
                <div class="panel-heading"><img src="img/hed.png" class="bldbnk">Help <div class="pull-right" ng-show="showmenu==false"><a ng-click="goback();" class="btn btn-success"><i class="fa fa-step-backward" aria-hidden="true"></i></a></div></div>
                <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p  data-ng-show="!showmenu"><span class="help-block" >mikudu blood donor network helps people get blood when required. Please register as user using your email id and there is a detailed section 'How it works' to explain how the app works</span></p>
                                <span class="help-block">Please contact <a href="mailto:helpmikudu@gmail.com"><b>helpmikudu@gmail.com</b></a> if you need to contact us for any reason.</span>
                            </div>
                        </div>				
                </div>            
            </div>
        </div>
    </div>
</div>
</section>