<link rel="stylesheet" type="text/css" href="css/contact.css">
<div class="navbar navbar-default  ng-scope" role="navigation" style="background-color:#222f31">
    <div class="container"> 
        <div class="navbar-header">

            <a href="javascript:void(0)" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>        
    </div>
</div>
		<div class="container" style="margin-top: 35%;">
			<div class="row main" style="padding-left: 12%;">
					<div class=" wtom">
						<h1>Welcome to mikudu</h1>
					</div>
					<div class="wtom1">
						<h3>Connecting blood donors to those who need blood. It’s free !</h3>
					</div>
			</div>
			<div class="row" >
				<center>
					<a href="#/signup" class="btn btn-info login-button" role="button">Register</a>
				</center>				
			</div>	
			<div class="row">
				<div class="login-register mylog">
					<center>						
						<a class="btn  mylog1" href="#/login">Login</a>
					</center>
				</div>				
			</div>										
		</div>  
             