
<div class="navbar navbar-default  ng-scope" role="navigation">
    <div class="container"> 
        <div class="navbar-header">

            <a href="javascript:void(0)" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>        
    </div>
</div>
<div class="container" >
		
<div id="loginbox" style="display: block;" class="col-md-4 col-md-offset-4">                    
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body">
                        <div class="loading-spiner-holder" ng-show="loading"  ><div class="loading-spiner"><i class="fa fa-spinner" aria-hidden="true"></i>Processing</div></div>
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                                    
                            <div class="input-group" style="margin-bottom: 25px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="Email" ng-model="login.email" required focus>                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" ng-model="login.password" required>
                                    </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                                      

                                    </div>
                                </div>
                            <div class="checkbox">
			    	    	<!--<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>-->
			    	    <a href="#/help" class="pull-left">Need Help?</a>
						<a href="#/forgotpassword" class="pull-right">Forgot password?</a>
						</div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <center><h4>OR</h4></center>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                          <a href="javascript:void(0)" ng-click="call_google()"  class="btn btn-lg btn-info btn-block">Google</a>
                                        </div>                                    
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                          <a href="javascript:void(0)" ng-click="call_FB()" class="btn btn-lg btn-primary btn-block">Facebook</a>
                                          <!--<a href="#/signup" class="btn btn-lg btn-info btn-block">Sign Up</a>-->
                                        </div>
                                    </div>
                                    <div style="padding-top:15px;font-size:90%;">
                                            <center>Don't have an account?</center>
                                        <center><a href="#/signup" class="btn btn-lg btn-primary">Register Here</a></center>
                                    </div>
                            </div>                                

                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        </div>  
             