		<div class="navbar navbar-default " role="navigation">
			<div class="container"> 
				<div class="navbar-header">
					<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>-->
					<a ng-click="redirect()" href="javascript:void();" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
				</div>						
			</div>
		</div>
	<div style="width:100%;height:400px" id="map_canvas"> </div>