<section  class="main2">
<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse">         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>            
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw  fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw  fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">                           
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                            
						<li class="divider"></li> 
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                   
						<li class="divider"></li>
						<li>
							<a href="#/privacy" >
								<i class="fa fa-user-secret fa-fw"></i>Privacy Policy
							</a>
                        </li>                                            
                        <li class="divider"></li>
						<li>
							<a href="#/deleteme" ng-confirm-click="Press OK if you want to delete your account.">
								<i class="fa fa-ban fa-fw"></i>Delete Me
							</a>
                        </li>                                              
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>

<!-- Notifications -->
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">My Requests</div>
                    </div> 
					<div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

		
						
						
            <div class="row">
                <div class="col-md-12">              
                   <div class="comments-list">
<div class="media" ng-repeat="requestslist in requestslists"  ng-show="haveresult==true" >
    <div id="requestdiv{{requestslist.Id}}"> 
            <div class="media-body">
          <h4 class="media-heading bldr"><span class="smallfont">Need </span> <span class="label label-danger">{{requestslist.Bloodgroup | uppercase}}</span> <span class="smallfont">on {{requestslist.Neededon | date : fullDate}}</span> <span class="smallfont">At</span></h4>
          <h5>{{requestslist.Location_Address}}, {{requestslist.District}}</h5>
          <h5>{{requestslist.Remarks}}</h5>      
          <p><a href="#/viewrequest/{{requestslist.Id}}" class="btn btn-primary btn-xs" >View</a> <button type="button" class="btn btn-default btn-xs" ng-click="cancelRequest(requestslist.Id);" ng-confirm-click="Press OK if you want to cancel your blood request.">Cancel</button></p>
        </div>
    </div>
</div>
<div class="media" ng-show="haveresult==false" > 
    <div class="media-body">
        <center><h4 class="media-heading bldr">You have not made any requests.</h4></center>
    </div>
</div>
                        
                   </div>
                    
                    
                    
                </div>
            </div>
        
                    </div>
					


					
                    </div>   
					
                </div>
            </div>
            <!-- /.row -->
        </div>
</section>