<section  class="main2">
<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse">         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>                        
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw  fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw  fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                             
  						<li class="divider"></li> 
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                                              
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>

<!-- Notifications -->
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Notifications</div>
                    </div> 
					<div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

		
						
						
            <div class="row">
                <div class="col-md-12">                            
                   <div class="comments-list" infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='3'>
                        <div class="media" ng-repeat="notificationlist in notificationlists" >
                            <div id="requestdiv{{notificationlist.data.Notification_Id}}" ng-show="notificationlist.type==0">
                             <p class="pull-right"><small><small><time am-time-ago="notificationlist.data.Requestedon" title="{{ notificationlist.data.Requestedon | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time></small></small></p>
                                    <div class="media-body">
                                  <h4 class="media-heading bldr">{{notificationlist.data.Name | uppercase}} <span class="smallfont">would like to get </span><span class="label label-danger">{{notificationlist.data.Bloodgroup | uppercase}}</span><span class="smallfont"> blood</span>
                                  <br /> <span class="smallfont">on {{notificationlist.data.Neededon | date : fullDate}}</span></h4>
                                  <h5><span class="smallfont">At</span> {{notificationlist.data.Location_Address}}, {{notificationlist.data.District}}</h5>
                                  <h5 ng-show="notificationlist.data.Remarks!=''">{{notificationlist.data.Remarks}}</h5>      
                                  <button type="button" class="btn btn-primary btn-xs" ng-click="AcceptRequest(notificationlist.data);">Accept</button> <button type="button" class="btn btn-default btn-xs" ng-click="IgnoreRequest(notificationlist.data);">Ignore</button>
                                </div>
                            </div>  
                        
                            <div id="acceptview{{notificationlist.data.Notification_Id}}" ng-show="notificationlist.type==1">
                             <p class="pull-right"><small><time am-time-ago="notificationlist.data.Requestedon" title="{{ notificationlist.data.Requestedon | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time></small></p>
                                <div class="media-body">
                                  <h4 class="media-heading bldr">{{notificationlist.data.sender | uppercase}} <span class="smallfont">has accepted your request for </span><span class="label label-danger">{{notificationlist.data.Bloodgroup | uppercase}}</span> <span class="smallfont">blood <br/>
                                  on {{notificationlist.data.Neededon | date : fullDate}}</span><br />
                                  <span class="smallfont">Please contact {{notificationlist.data.sender | uppercase}} on <br /> Phone: {{notificationlist.data.Mobile}} <br/>Email: {{notificationlist.data.Email}}</span><br />                                
                                  <a href="#/viewrequest/{{notificationlist.data.Id}}" class="btn btn-primary btn-xs" >view request</a>
                                  </h4>                                            
                                  <p><button type="button" class="btn btn-primary btn-xs" ng-click="RequestContact(notificationlist.data);">Thanks will contact</button> <button type="button" class="btn btn-default btn-xs" ng-click="RequestEnough(notificationlist.data);">Thanks we got enough</button></p>
                                </div>
                            </div>
                            <div class="alert alert-info" id="thankyouview{{notificationlist.data.Notification_Id}}" ng-show="notificationlist.type==2">
                            	<button type="button" class="close" ng-click="RemoveThanks(notificationlist.data);">x</button>
                            	<span class="glyphicon glyphicon-info-sign"></span> <strong>Thank you</strong>
                            	<hr class="message-inner-separator">
                            	<p>{{notificationlist.data.sender | uppercase}}  will contact you to plan the next steps</p>	
                            </div>
                            <div class="alert alert-info" id="enoughview{{notificationlist.data.Notification_Id}}" ng-show="notificationlist.type==3">
                            	<button type="button" class="close" ng-click="RemoveEnough(notificationlist.data);">x</button>
                            	<span class="glyphicon glyphicon-info-sign"></span> <strong>Thank you</strong>
                            	<hr class="message-inner-separator">
                            	<p>{{notificationlist.data.sender | uppercase}} has got enough blood now, will contact you if more is required.</p>	
                            </div>
                            <div class="alert alert-info" id="donorview{{notificationlist.data.Notification_Id}}" ng-show="notificationlist.type==4">
                            	<button type="button" class="close" ng-click="RemoveDonation(notificationlist.data);">x</button>
                            	<span class="glyphicon glyphicon-info-sign"></span> <strong>You can donate again. </strong>
                            	<hr class="message-inner-separator">
                            	<p>You can donate again. It has been 3 months since you last donated. </p>	
                            </div>                                                           
                        </div>                                                   
                        <div ng-show='busy'>Loading data...</div>
                   </div>
                    
                    
                    
                </div>
            </div>
        
                    </div>
					


					
                    </div>   
					
                </div>
            </div>
            <!-- /.row -->
        </div>
</section>