<section  class="main2">
<div class="navbar navbar-default " role="navigation" data-ng-show="showmenu">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse" >         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>            
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                             
                        <li class="divider"></li>                     
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                   
						<li class="divider"></li>
						<li>
							<a href="#/privacy" >
								<i class="fa fa-user-secret fa-fw"></i>Privacy Policy
							</a>
                        </li>                                             
                        <li class="divider"></li>
						<li>
							<a href="#/deleteme" >
								<i class="fa fa-ban fa-fw"></i>Delete Me
							</a>
                        </li>                                              
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>	
	<div class="navbar navbar-default " role="navigation" ng-show="showmenu==false">
        <div class="container"> 
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>-->
                <a  href="#/index" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
            </div>        
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Privacy Policy</div>
                    </div> 
					<div style="padding-top:30px" class="panel-body">
                        				
					<div class="row">
						<div class="col-md-12">					   	       	
							<div class="form-group" style="text-align:justify;" >
																
									<p class="headtext">
										PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY ACCESSING OR USING THE WEBSITE, THE USER AGREES TO BE BOUND BY THE TERMS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE. IF THE USER DOES NOT AGREE TO ANY/ALL OF THESE TERMS, DO NOT USE THE WEBSITE.
									</p>
									<ol>
										<li><b>Context &amp; Purpose</b>
											<ol>
												<li>For the purpose of the Services on the website and for other purposes identified in this Privacy Policy, <i>mikudu</i> will be required to collect and host certain data and information of the Users. <i>mikudu</i> is committed to protecting the personal information of the Users and takes all reasonable precautions for maintaining confidentiality of the User’s personal information. This Privacy Policy has been designed and developed to help user understand the following:
													<ol style="list-style: lower-roman;">
														<li>The type of personal information (including sensitive personal data or information) that <i>mikudu</i> collects from the Users;</li>
														<li>The purpose of collection, means and modes of usage of such personal information by <i>mikudu</i>;</li>
														<li>How and to whom <i>mikudu</i> will disclose such information;</li>
														<li>How <i>mikudu</i> will protect the personal information including sensitive personal data or information that is collected from the Users; and</li>
														<li>How User’s may access and/ or modify their personal information.</li>
													</ol>													
												</li>
												<li>This Privacy Policy shall apply to the use of the Website by each user.

Accordingly, use of and access to the Website and to the other services provided

by <i>mikudu</i> to Users is conditional of each user’s acceptance of this Privacy

policy. Any User is required to read and understand the provisions set out herein

prior to submitting any sensitive personal data or information to <i>mikudu</i>, failing

which they are required to leave the Website immediately.</li>
												<li>This Privacy Policy is published in compliance of the (Indian) Information

Technology Act, 2000 and the rules, regulations, guidelines and clarifications

framed there under, including the (Indian) Information Technology (Reasonable

Security Practices and Procedures and Sensitive Personal Information) Rules,

2011.</li>												
											</ol>
										</li>
										<li><b>What is personal information?</b>
											<ol>
												<li>Personal Information means any information that relates to a natural person,

which, either directly or indirectly, or in combination with other information

available with <i>mikudu</i>, is capable of identifying the person concerned.</li>
												<li>Sensitive Personal Data or Information means personal Information of any

individual relating to password; financial information such as bank account or

credit card or debit card or other payment instrument details; physical,

physiological and mental health condition; sexual orientation; medical records

and history; biometric information; any detail relating to the above as provided to

or received by <i>mikudu</i> for processing or storage. However, any data/ information

relating to an individual that is freely available or accessible in public domain or

furnished under the Right to Information Act, 2005 or any other law shall not

qualify as sensitive personal data/information.</li>												
											</ol>
										</li>
										<li><b>Types of personal information collected by <i>mikudu</i>:</b>
											<ol>
												<li>A User may have limited access to the Website and utilize some of the Services

provided by <i>mikudu</i> without registering on the Website. Unregistered Users may

access some of the information and details available on the Website. In order to

have access to all the features and benefits on our Website, a User may be

required to register on our Website. As part of the registration, <i>mikudu</i> may

collect the following categories of personal information from the Users

(hereinafter collectively referred to as “User Information”):
											<ol style="list-style: lower-roman;">
												<li>Name;</li>
												<li>User ID;</li>
												<li>Email address;</li>
												<li>Address (including country and ZIP/postal code);</li>
												<li>Gender;</li>
												<li>Age;</li>
												<li>Phone number;</li>
												<li>Password chosen by the User; and</li>
												<li>Other details as the User may volunteer.</li>
											</ol>
</li>
												<li><i>mikudu</i> may retain records of telephone calls received and made for making

inquiries, orders, or other purposes for the purpose of administration of Services.</li>
												<li><b>Internet use:</b> <i>mikudu</i> may receive and/or hold information about the User’s

browsing history including the URL of the site that the User visited prior to and

after visiting the website as well as the Internet Protocol (IP) address of each

User&#39;s devices (or the proxy server a User uses to access the World Wide Web),

User&#39;s operating system and type of web browser the User is using as well as the

name of User&#39;s ISP. The Website uses temporary cookies to store certain data

(that is not sensitive personal data or information) that is used by <i>mikudu</i> and its

service providers for the technical administration of the Website, research and

development, and for User administration.</li>
												<li>The Website may enable User to communicate with other Users or to post

information to be accessed by others, whereupon other Users may collect such

data. <i>mikudu</i> hereby expressly disclaims any liability for any misuse of such

information that is made available by users in such a manner.</li>
												<li><i>mikudu</i> does not knowingly collect personal data from children.</li>
												<li><i>mikudu</i> may in future include other optional requests for information from the

User, including through User Surveys, in order to help <i>mikudu</i> customize the

Website to deliver personalized information to the User and for other purposes as

mentioned herein. Such information may also be collected in the course of

promotional features towards generating public awareness of the services

offered by the website conducted by <i>mikudu</i>. Any such additional personal

information will also be processed in accordance with this Privacy Policy.</li>
											</ol>
										</li>
										<li><b>Purposes for which user information may be used by <i>mikudu</i>:</b>
											<ol>
												<li>The information which <i>mikudu</i> collects from user may be utilized for various

endeavours and/or regulatory purposes including, but not limited to, the following

purposes:
								<ol style="list-style: lower-roman;">
									<li>Registration of the User on the Website;</li>
									<li>Processing the User’s requests and provision of Services;</li>
									<li>Technical administration and customization of Website;</li>
									<li>Delivery of personalized information and target advertisements to the User;</li>
									<li>Improvement of Services and features on the Website;</li>
									<li>Research and development and for User administration (including

conducting User surveys)</li>
									<li>Non-personally identifiable information, exclusively owned by <i>mikudu</i> may

be used in an aggregated or non-personally identifiable form for research,

statistical analysis and business intelligence purposes, and <i>mikudu</i> may

transfer such research, statistical or intelligence data in an aggregated or

non-personally identifiable form to third parties and affiliates.</li>
									<li>Dealing with requests, enquiries or complaints and other customer care

related activities; and all other general administrative and business

purposes.</li>
									<li>In case of any promotional features conducted by <i>mikudu</i> in which the

User participates, the User Information may be used for benefit fulfillment

and other aspects of any promotional feature or similar offering.</li>									
								</ol>
</li>
											</ol>										
										</li>
										<li><b>Disclosure and transfer of user personal information:</b>
											<ol>
												<li><i>mikudu</i> may need to disclose/ transfer user personal information to the following

third parties for the purposes mentioned in this Privacy Policy and the Terms of

Use:
											<ol style="list-style: lower-roman;">
												<li>To other service providers appointed by <i>mikudu</i> for the purpose of

carrying out services on <i>mikudu</i>’s behalf under contract. Generally these

contractors do not have any independent right to share this information,

however certain contractors who provide services on the Website,

including the providers of online communications services, will have rights

to use and disclose the personal information collected in connection with

the provision of these services in accordance with their own privacy

policies.</li>
												<li>To our affiliates in India or in other countries who may use and disclose

user information for the same purposes as us.</li>
												<li>To government institutions/ authorities to the extent required a) under the

laws, rules, and regulations and or under orders of any relevant judicial or

quasi-judicial authority; b) to protect and defend the rights or property of

<i>mikudu</i>; c) to fight fraud and credit risk; d) to enforce <i>mikudu</i>&#39;s Terms of

Use (of which this Privacy Policy is a part) ; or e) when <i>mikudu</i>, in its sole discretion, deems it necessary in order to protect its rights or the rights of

others.</li>
												<li>If otherwise required by an order under any law for the time being in force

including in response to enquiries by Government agencies for the

purpose of verification of identity, or for prevention, detection,

investigation including cyber incidents, prosecution, and punishment of

offences.</li>
												<li>In case of promotional features conducted by <i>mikudu</i> in which the User

participates, the relevant User’s information may be disclosed to third

parties.</li>
											</ol>
</li>
												<li><i>mikudu</i> makes all User Information accessible to its employees and data

processors only on a need-to- know basis. All <i>mikudu</i> employees and data

processors, who have access to, and are associated with the processing of User

Information, are obliged to respect its confidentiality.</li>
												<li>Non-personally identifiable information may be disclosed to third party ad

servers, ad agencies, technology vendors and research firms to serve

advertisements to the Users. <i>mikudu</i> may also share its aggregate findings (not

specific information) based on information relating to the User’s internet use to

prospective investors, strategic partners, sponsors and others in order to help

growth of <i>mikudu</i>&#39;s operations.</li>
												<li><i>mikudu</i> may also disclose or transfer the User Information, to another third party

as part of reorganization or a sale of the assets of a <i>mikudu</i> corporation division

or company. Any third party to which <i>mikudu</i> transfers its assets will have the

right to continue to use the personal data and/ or other information that a User

provide to us.</li>
											</ol>										
										</li>
										<li><b>Retention of the information:</b>
											<ol>
												<li>All the information collected/ stored under this Privacy Policy and Terms of Use is

maintained by <i>mikudu</i> in electronic form on its equipment, and on the equipment

of its employees. User Information may also be converted to physical form from

time to time. Regardless of the manner of storage, <i>mikudu</i> will keep all User

Information confidential and will use/ disclose it only in the manner specified

under the Privacy Policy and Terms of Use.</li>
												<li><i>mikudu</i> will also ensure that User Information is not kept for a period longer than

as required for the purposes for which it is collected or as required under any

applicable law.</li>
											</ol>										
										</li>
										<li><b>Links to third-party advertisements:</b>
											<ol>
												<li>The links to third-party advertisements, third party websites or any third party

electronic communication services (referred to as “Third Party Links”) may be

provided on the Website which are operated by third parties and are not

controlled by, or affiliated to, or associated with <i>mikudu</i> unless expressly

specified on the Website.</li>
												<li>If user chooses to access the link of any such Third Party it is understood that the

user has obligation to review the website’s privacy policy. We are not responsible

for the policies or practices of Third Party Links.</li>												
											</ol>										
										</li>
										<li><b>Security Practices and Procedures:</b>
											<ol>
												<li><i>mikudu</i> adopts reasonable security practices and procedures to include,

technical, operational, managerial and physical security control measures in

order to protect the personal information in its possession from loss, misuse and

unauthorized access, disclosure, alteration and destruction.</li>
												<li><i>mikudu</i> makes all User Information accessible to its employees only on a need-

to-know basis, and binds all such employees to strict confidentiality obligations.</li>
												<li><i>mikudu</i> takes adequate steps to ensure that third parties to whom the Users’

Data or Information may be transferred adopt reasonable level of security

practices and procedures to ensure security of Information.</li>
												<li></li>
											</ol>										
										</li>
										<li><b>Users’ rights in relation to their personal information collected by <i>mikudu</i>:</b>
											<ol>
												<li>All and any information provided to <i>mikudu</i> by a User is voluntary. User has the

right to withdraw his/ her/ its consent at any time, in accordance with the terms of

this Privacy Policy and the Terms of Use, but please note that withdrawal of

consent will not be retroactive.</li>
												<li>Users can access, modify, correct and delete the personal information provided

by them which has been voluntary given by the User and collected by <i>mikudu</i> in

accordance with this Privacy Policy and Terms of Use. However, if the User

updates his/ her information, <i>mikudu</i> may keep a copy of the information which

User originally provided to <i>mikudu</i> in its archives for uses documented herein. In

case the User seeks to update or correct, his/ her personal information, the User

may exercise these rights by emailing <i>mikudu</i> at <a href="mailto:care@mikudu.com">care@mikudu.com</a> and

communicate the change(s) for updating <i>mikudu</i>’s records.</li>
												<li>If user, as a casual visitor, has inadvertently browsed any other pages of this

Website prior to reading the Privacy Policy and the Terms of Use, and do not

agree with the manner in which such information is obtained, stored or used,

merely quitting this browser application should ordinarily clear all temporary

cookies installed by <i>mikudu</i>. All visitors, however, are encouraged to use the

&quot;clear cookies&quot; functionality of their browsers to ensure such clearing/ deletion,

as <i>mikudu</i> cannot guarantee, predict or provide for the behavior of the equipment

of any of the users of the Website.</li>
												<li>If user has inadvertently submitted any personal information to <i>mikudu</i> prior to

reading the Privacy Policy and Terms of Use, and user does not agree with the

manner in which such information is collected, stored or used, then the user can

request <i>mikudu</i>, by sending an email to <a href="mailto:care@mikudu.com">care@mikudu.com</a> containing the

rectification required, whether <i>mikudu</i> is keeping personal data about him/ her.</li>
												<li>In case the User does not provide his/ her information or consent for usage of

personal information or subsequently withdraws his/ her consent for usage of the

personal information so collected, <i>mikudu</i> reserves the right to discontinue the

services for which the said information was sought.</li>												
											</ol>										
										</li>										
										<li><b>Additional notes to the User:</b>
											<ol>
												<li><i>mikudu</i> does not exercise control over the websites displayed as search results

or links from within its Services. These other sites may place their own cookies or

other files on the Users&#39; device, collect data or solicit personal information from

the Users, for which <i>mikudu</i> is not responsible or liable. Accordingly, <i>mikudu</i>

does not make any representation concerning the privacy practices or policies of

such third parties or terms of use of such websites, nor does <i>mikudu</i> guarantee

the accuracy, integrity, or quality of the information, data, text, software, sound,

photographs, graphics, videos, messages or other materials available on such

websites. <i>mikudu</i> encourages the User to read the privacy policies of that

website.</li>
												<li><i>mikudu</i> shall not be responsible in any manner for the authenticity of the personal

information or personal data or information supplied by the User to <i>mikudu</i> or any

third party. If a User provides any information that is untrue, inaccurate, not

current or incomplete (or becomes untrue, inaccurate, not current or incomplete),

or <i>mikudu</i> has reasonable grounds to suspect that such information is untrue,

inaccurate, not current or incomplete, <i>mikudu</i> has the right to suspend or

terminate such account at its sole discretion.</li>
												<li><i>mikudu</i> shall not be responsible for any breach of security or for any actions of

any third parties that receive Users&#39; personal data or events that are beyond the

reasonable control of <i>mikudu</i> including, acts of government, computer hacking,

unauthorized access to computer data and storage device, computer crashes,

breach of security and encryption, etc.</li>
												<li>The User is responsible for maintaining the confidentiality of the User&#39;s account

access information and password. The User shall be responsible for all uses of

the User&#39;s account and password, whether or not authorized by the User. The

user shall immediately notify <i>mikudu</i> of any actual or suspected unauthorized use

of the User&#39;s account or password.</li>
												<li><i>mikudu</i> will communicate with the Users through email and notices posted on the

Website or through other means available through the service, including text and

other forms of messaging. The Users can ask <i>mikudu</i>, by sending an email

to <a href="mailto:care@mikudu.com">care@mikudu.com</a> containing the rectification required.</li>												
											</ol>										
										</li>										
										<li><b>Changes in the Privacy Policy:</b>
											<ol>
												<li><i>mikudu</i> may update this privacy policy at any time, with or without prior notice. In

the event there are significant changes in the way <i>mikudu</i> treats User&#39;s personal

information, <i>mikudu</i> will display a notice on the Website or send Users an email.

If a User uses the Service after notice of changes have been sent to such User

or published on the Website, such User hereby provides his/ her/ its consent to 

the changed practices.</li>
											</ol>										
										</li>																				
									</ol>																	       	          
							</div>	
						</div>
					</div>


                        </div>
					


					
                    </div>   
					
					
					
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>