    <section  class="main2" >
	
	<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse">         
            <ul class="nav navbar-nav navbar-right">
            
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts"> 
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                            
						<li class="divider"></li> 
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>
						<li class="divider"></li>
						<li>
							<a href="#/privacy" >
								<i class="fa fa-user-secret fa-fw"></i>Privacy Policy
							</a>
                        </li>						
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">User Profile</div>
                    </div> 
					<div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                       <form name="signupForm" role="form">
					<div class="row">
					   <div class="col-md-12">					   
						  <div class="form-group">
							<label for="name">Name <span class="redspan">*</span></label>
							<input type="text" class="form-control" name="name" ng-model="customer.Name" id="name" placeholder="Name" required>                            
                            <small class="errorMessage" data-ng-show="signupForm.name.$dirty && signupForm.name.$error.required"> Enter Name.</small>                              
						  </div>
                    	  <div class="form-group">
                    		<label for="bloodgrp">Blood Group <span class="redspan">*</span></label>
                    		<select class="form-control" id="bloodgroup"   name="bloodgroup" ng-options="bloodgroup.Id as bloodgroup.Name for bloodgroup in bloodgroups" ng-model="customer.Bloodgroup_Id" required>
                    		<option value="">Select Blood Group</option>    
                    		</select>
                            <small class="errorMessage" data-ng-show="signupForm.bloodgroup.$dirty && signupForm.bloodgroup.$error.required"> Select blood group.</small>                                  		
                    	  </div>
						  <div class="form-group">
                                <label for="dateneeded">Date of Birth</label>
                                <input type='date' class="form-control" name="dob" ng-model="customer.Dob" max="{{customer.dateformat | date:'yyyy-MM-dd'}}"  placeholder="Date of Birth" />                         							
                            <small class="errorMessage" data-ng-show="signupForm.dob.$dirty && signupForm.dob.$error.required"> Select Date of Birth.</small>
						  </div>
						  <div class="form-group">
							<label for="gender">Gender</label>
                            <select class="form-control" id="gender"   name="gender" ng-options="gender.Id as gender.Name for gender in genders" ng-model="customer.Gender">
                                <option value="">Select Gender</option>    
                            </select>
                            <small class="errorMessage" data-ng-show="signupForm.gender.$dirty && signupForm.gender.$error.required"> Select Gender.</small>                             							
						  </div>
						</div>
					</div>
						
						
					<div class="row">
					   <div class="col-md-12">	
						<h3>Contact Details</h3>					   
						  <div class="form-group">
							<label for="mobile">Mobile Number</label>
                    		<div class='input-group date' id='datetimepicker8'>
                    			<span class="input-group-addon">
                    				+91
                    			</span>                                
                                <input type="number" ng-minlength="10" ng-maxlength="10" class="form-control" ng-model="customer.Mobilenumber" name="Mobilenumber" id="mobile" placeholder="Mobile">                                                    			
                    		</div>
                            <small class="errorMessage" data-ng-show="((signupForm.Mobilenumber.$error.minlength || signupForm.Mobilenumber.$error.maxlength) && signupForm.Mobilenumber.$dirty) "> phone number should be 10 digits.</small>
                                                         
							
						  </div>                         
						  <div class="form-group">
							<label for="landline">Land line</label>
                            <div class="input-group"> 
                            <input type="number" class="form-control input-md" maxlength="2" ng-minlength="2" ng-maxlength="2"  ng-model="customer.landline1" name="Land1" id="Land1" placeholder="ISD" style="width: 25%;">
                            <input type="number" class="form-control input-md" maxlength="3" ng-minlength="0" ng-maxlength="3"  ng-model="customer.landline2" name="Land2" id="Land2" placeholder="STD" style="width: 25%;">
                            <input type="number" class="form-control input-md" maxlength="7" ng-minlength="0" ng-maxlength="7"  ng-model="customer.landline3" name="Land3" id="Land3" placeholder="Land Line"  style="width: 50%;">
                            <small class="errorMessage" data-ng-show="((signupForm.Land1.$error.minlength || signupForm.Land1.$error.maxlength) && signupForm.Land1.$dirty) " style="width: 25%;"> ISD code should be 2 digits.</small>
                            <small class="errorMessage" data-ng-show="((signupForm.Land2.$error.minlength || signupForm.Land2.$error.maxlength) && signupForm.Land2.$dirty) " style="width: 25%;"> STD code should be 3 digits.</small>
                            <small class="errorMessage" data-ng-show="((signupForm.Land3.$error.minlength || signupForm.Land3.$error.maxlength) && signupForm.Land3.$dirty) " style="width: 50%;"> Land Line number should be 7 digits.</small>
                            </div>							
						  </div>
						  <div class="form-group">
							<label for="bloodgrp">Email Id</label>
							<input type="email" class="form-control" ng-model="customer.Email" readonly id="email" placeholder="Email" ng-required="true">
						  </div>
                            <div class="form-group">
                                <label for="name">Country  <span class="redspan">*</span></label>
                                <select ng-model="customer.Country_Id" readonly="true"  name="country" class="form-control" ng-change="getCountryStates()" ng-options="obj.Id as obj.Name for obj in countries" ng-required="true">
                                    <option value="">Select Country</option>                                   
                                </select>
                                
                                <small class="errorMessage" data-ng-show="signupForm.country.$dirty && signupForm.country.$error.required"> Select Country.</small>
                            </div>
						  <div class="form-group">
							<label for="bloodgrp">State  <span class="redspan">*</span></label>
							<select class="form-control" name="state" ng-model="customer.State_Id" ng-options="x.Id as x.Name for x in states" ng-change="getStatesCities()"  ng-required="true">
                                <option value="">Select State/Union Territory</option>
                            </select>
                            <small class="errorMessage" data-ng-show="signupForm.state.$dirty && signupForm.state.$error.required"> Select State.</small>
						  </div>
						  <div class="form-group">
							<label for="bloodgrp">District  <span class="redspan">*</span></label>
							<select class="form-control" name="district" ng-model="customer.District_Id"  ng-options="y.Id as y.Name for y in districts"   ng-required="true">
                            <option value="">Select District</option>
                            </select>
                            <small class="errorMessage" data-ng-show="signupForm.district.$dirty && signupForm.district.$error.required"> Select District.</small>
						  </div> 
						  <!--<div class="form-group">
							<label for="bloodgrp">Address</label>
							<textarea class="form-control" ng-model="customer.Address" rows="3"></textarea>
						  </div>-->                           
						  <div class="form-group">
							<label for="bloodgrp">Pincode</label>
                            <input type="number" class="form-control" ng-model="customer.Pincode" id="pincode" name="pincode" placeholder="Pincode"  maxlength="2" ng-minlength="0" ng-maxlength="6">
                            <small class="errorMessage" data-ng-show="((signupForm.pincode.$error.minlength || signupForm.pincode.$error.maxlength) && signupForm.pincode.$dirty) " style="width: 25%;"> Pincode should be 6 digits.</small>                            						
						  </div>
						  <div class="form-group">
                                <label for="dateneeded">Last Donated</label>
                                <input type='date' class="form-control" name="donated" ng-model="customer.Lastdonated" min="{{customer.Dob | date:'yyyy-MM-dd'}}" max="{{customer.dateformat | date:'yyyy-MM-dd'}}"  placeholder="Last Donated" />                          							
                            <small class="errorMessage" data-ng-show="signupForm.donated.$dirty && signupForm.donated.$error.required"> Select Last Donated Date.</small>
						  </div>                          
    					<div class="form-group">
    						<div class="checkbox"> <label> <input ng-model="customer.Availability" type="checkbox" ng-true-value="1" ng-false-value="0"> Please tick if available to donate blood</label> </div>    						
                        </div>                                                                              
						  <div class="form-group">
							<label for="bloodgrp">How do you want to be contacted ?</label><br />
                            <label ng-repeat="(key, text) in roles" style="padding: 5px;font-weight:normal;">
                              <input type="checkbox" checklist-model="customer.Modeofcontact" checklist-value="key"> {{text}}
                               
                            </label>                            
							
						  </div>                          
                          						
						</div>
					</div>

						
						
<input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" ng-click="saveCustomer(customer);" data-ng-disabled="signupForm.$invalid">						</form>    



                        </div>
					


					
                    </div>   
					
					
					
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

	
	