	 <!-- Blood Request -->
<section  class="main2">
<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>-->
            <a href="#/dashboard" class="navbar-brand"><img src="img/logomain.png" style="margin-bottom: 50px;"></a>
        </div>
        <div class="navbar-collapse">         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a  href="#/dashboard" aria-expanded="false">
                        <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>                		
                    </a>                   
                </li>            
                <li class="dropdown">                    
                    <a  href="#/notifications/{{uid}}" aria-expanded="false">
                        <i class="fa fa-bell fa-fw  fa-2x"></i> 
                		<span class="label label-primary" ng-show="notifications>0">{{notifications}}</span>
                    </a>                   
                </li>
                <li class="dropdown">                    
                    <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-fw  fa-2x"></i> 
						<span class="label label-primary"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts"> 
                        <li ng-show="updatestatus==1">
                            <a href="#/profile/{{uid}}">                                
                                    <i class="fa fa-user fa-fw"></i>User Profile                                                                   
                            </a>
                        </li>                                             
                        <li  ng-show="updatestatus==1" class="divider"></li>                    
                        <li>
                            <a href="#/myrequests">                                
                                    <i class="fa fa-question fa-fw"></i>My Requests                                                                    
                            </a>
                        </li>                                            
                        <li class="divider"></li>                                                                                         
                        <li>
                            <a href="#/changepassword">                                
                                    <i class="fa fa-key fa-fw"></i>Change Password                                                                    
                            </a>
                        </li>
						<li class="divider"></li> 
						<li>
                            <a href="#/help">                                
                                    <i class="fa fa-info fa-fw"></i>Help                                                                    
                            </a>
                        </li>                   
						<li class="divider"></li>
						<li>
							<a href="#/privacy" >
								<i class="fa fa-user-secret fa-fw"></i>Privacy Policy
							</a>
                        </li>                                           
                        <li class="divider"></li>
						<li>
							<a href="#/deleteme" >
								<i class="fa fa-ban fa-fw"></i>Delete Me
							</a>
                        </li>                                              
                        <li class="divider"></li>
                         <li>
                            <a href="#/logout">
                               <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li> 
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>                
            </ul>
        </div>
    </div>
</div>    
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="panel panel-primary" >
  <!-- Default panel contents -->
  <div class="panel-heading"><img src="img/hed.png" class="bldbnk">View Blood Request</div>
  <div class="panel-body">			   
			   <div class="row">
				<div class="col-xs-12">
				 <div class="form-group">
					<label for="name">Your Name</label>
					<h4 class="media-heading bldr">{{requestview.Name}}</h4>
					</div>
				</div>
				</div>
			<div class="row">
				<div class="col-xs-12">
				  <div class="form-group">
                    <label for="dateneeded">Date Needed</label>
                        <h4 class="media-heading bldr">{{requestview.Neededon | date : fullDate}}</h4>
				  </div>
			  </div>
			</div>

			
			<div class="row">
			
				<div class="col-xs-12 ">
					  <div class="form-group">
					  <label for="bloodgroup">Blood Group</label>
    				    <h4 class="media-heading bldr"><span class="label label-danger">{{requestview.Bloodgroup}}</span></h4>					  					  
				  </div>
                <div class="form-group">
                    <label for="bloodgrp">State</label>
                    <h4 class="media-heading bldr">{{requestview.state}}</h4>
                </div>
                <div class="form-group">
                    <label for="bloodgrp">District</label>
                    <h4 class="media-heading bldr">{{requestview.District}}</h4>
                </div>
			  </div>
			
			</div>
			
			<div class="row">
				<div class="col-xs-12">
				   <div class="form-group">
                        <label for="address">Location Address</label>
                        <h4 class="media-heading bldr">{{requestview.Location_Address}}</h4>
                    </div>
					<div class="form-group">
                    <label for="remerks">Remarks</label>
                    <h4 class="media-heading bldr">{{requestview.Remarks}}</h4>                   
                    </div>
					
					<div class="form-group">						
                        <h5  ng-show="requestview.Cananygroup=='1'"> Any blood group will be sufficient  </label> </h5>
						<h5 ng-show="requestview.Directcontact=='1'"> Please feel free to contact the user directly  </label> </h5>
                    </div>
					</div>			
				</div>
				
				
				<div class="row">
					<div class="col-xs-12">
						<h3>Contact Details</h3>
						<hr>
						
							<div class="control-group" id="fields">
								<div class="controls" id="mobilediv">
                                <label for="bloodgrp">Mobile <i class="fa fa-mobile" aria-hidden="true"></i></label>
                                <h4 class="media-heading bldr">{{requestview.Mobile1}}</h4>                 
								</div>
							</div>
							
							<div class="control-group" id="fields" style="margin-top:10px;">
								<div class="controls" id="emaildiv">                 
                                <label for="bloodgrp">Email <i class="fa fa-envelope" aria-hidden="true"></i></label>
                                <h4 class="media-heading bldr">{{requestview.Email1}}</h4> 
								</div>
							</div>
					
					</div>
				</div>
			</div>
  
				</div>
		    </div>
	</div>
					
					
					
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>